<%= form_for @comment, url: polymorphic_path(@comment, anchor: 'menubar') do |f| %>
  <div class="answer">
    <img src="user77.png">
    <%= f.label :"寫下你的答案：" %>
    <br><br>
    <%= f.text_field :body %>
  </div>
  <%= f.hidden_field :post_id %>
  <div class="submit">
    <%= f.submit :"送出答案", :class => "btn" %>
  </div>
<% end %>
