<div class="menu">
  <%= link_to 'Members','/members#menubar', :class => "menu-link", :id => "selected" %>
  <%= link_to 'Rules','/rules#menubar', :class => "menu-link" %>
  <%= link_to "Let's Play",'/posts#menubar', :class => "menu-link" %>
  <% if user_signed_in? %>
    <%= link_to "Sign-out", destroy_user_session_path, method: :delete, :class => 'menu-link' %>
  <% else %>
    <%= link_to 'Login','/users/sign_in#menubar', :class => "menu-link" %>
  <% end %>
</div>
<div class="member">
  <div class="member-100">
    <div class="member-100-1">
      <div class="member-100-desc">
        <p>沈冠廷</p>
        <p>Shady</p>
        <p>技能：頭轉</p>
      </div>
    </div>
    <div class="member-100-2">
      <div class="member-100-desc">
        <p>何宣瑾</p>
        <p>小洛</p>
        <p>技能：收集松鼠</p>
      </div>
    </div>
    <div class="member-100-3">
      <div class="member-100-desc">
        <p>陳祐禎</p>
        <p>小憋</p>
        <p>技能：業務嘴</p>
      </div>
    </div>
    <div class="member-100-4">
      <div class="member-100-desc">
        <p>黃意潔</p>
        <p>香菇</p>
        <p>技能：跟屁蟲</p>
      </div>
    </div>
    <div class="member-100-5">
      <div class="member-100-desc">
        <p>廖吟黛</p>
        <p>小丘</p>
        <p>技能：當王</p>
      </div>
    </div>
  </div>
  <div class="member-101">
    <div class="member-101-1">
      <div class="member-101-desc">
        <p>高得凱</p>
        <p>帥哥</p>
        <p>技能：嗡嗡嗡</p>
      </div>
    </div>
    <div class="member-101-2">
      <div class="member-101-desc">
        <p>王瑋萱</p>
        <p>瑋萱</p>
        <p>技能：一堆鬼主意</p>
      </div>
    </div>
    <div class="member-101-3">
      <div class="member-101-desc">
        <p>林彥江</p>
        <p>彥江</p>
        <p>技能：絕不正常拍照</p>
      </div>
    </div>
    <div class="member-101-4">
      <div class="member-101-desc">
        <p>許章慧</p>
        <p>章慧</p>
        <p>技能：呵呵呵</p>
      </div>
    </div>
    <div class="member-101-5">
      <div class="member-101-desc">
        <p>蔡懿亭</p>
        <p>菜瓜布</p>
        <p>技能：做鬼臉</p>
      </div>
    </div>
  </div>
</div>
