<div class="menu">
  <%= link_to 'Members','/members#menubar', :class => "menu-link" %>
  <%= link_to 'Rules','/rules#menubar', :class => "menu-link" %>
  <%= link_to "Let's Play",'/posts#menubar', :class => "menu-link", :id => "selected" %>
  <% if user_signed_in? %>
    <%= link_to "Sign-out", destroy_user_session_path, method: :delete, :class => 'menu-link' %>
  <% else %>
    <%= link_to 'Login','/users/sign_in#menubar', :class => "menu-link" %>
  <% end %>
</div>

<div class="game">
  <div id="game-title" class="lsf-icon" title="game">找到靈魂伴侶</div>
  <div id="game-desc">
    <p>親愛的<span id="user-name"><%= @user.user_name if current_user.present? %></span>，以下是你的物品：</p>
    <ol>
    <% @stuffs.each do |stuff|%>
      <li><%= stuff.name %></li>
    <% end %>
    </ol>
  </div>
  <div class="back-btn"><span class="lsf-icon" title="arrowleft"></span><%= link_to 'Back', '/posts/#menubar' %></div>
</div>
