<div class="menu">
  <%= link_to 'Members','/members#menubar', :class => "menu-link" %>
  <%= link_to 'Rules','/rules#menubar', :class => "menu-link" %>
  <%= link_to "Let's Play",'/intro#menubar', :class => "menu-link", :id => "selected" %>
  <% if user_signed_in? %>
    <%= link_to "#{@user.user_name}", destroy_user_session_path, method: :delete, :class => 'menu-link', data: { confirm: '你確定要登出嗎？' } %>
  <% else %>
    <%= link_to 'Login','/users/sign_in#menubar', :class => "menu-link" %>
  <% end %>
</div>

<div class="game-play">
  <div id="game-title"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/pac.png" width="40px" /> 圖片機智問答</div>
  <div id="game-desc">
    <p>接下來將有50張關於GLRG100x101的所有回憶照片，每張皆出成與圖片有關的問答題</p>
  </div>
  <div class="game-btn"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowright.png"/></span><%= link_to 'Go！', '/posts/1#menubar' %></div>
</div>