<div class="comment">
  <div class="game-btn">
    <%= link_to 'Next', "/posts/#{@post.id+1}#menubar" %>
    <img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowright.png"/>
  </div>
  <div class="game">
  <% @comments.each do |comment| %>
    <div id="comment-title">
      <img src="https://dl.dropboxusercontent.com/u/44654998/gglab/user77.png">
      <%= comment.user.user_name %>
      <% if current_user.admin == true %>
        <span class="submit">
          <%= button_to '+1', user_score_comment_path(comment.user) + '#menubar', method: :post, :class => "btn" %>
        </span>
      <% end %>
    </div>
      <p><%= comment.body %></p>
  <% end %>

  <%= render 'comments/form' %>
  </div>
</div>
<div class="post">

  <h1><%= @post.title %></h1>
  <div id="game-desc">
    <%= image_tag(@post.picture_url, width: '50%') if @post.picture.present? %>
  </div>
</div>
<div class="game-play">
<table>
  <thead>
    <tr>
      <th colspan="2">目前分數</th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_users.each do |user| %>
      <tr>
        <th><%= user.user_name %></th>
        <th><%= user.score %></th>
      </tr>
    <% end %>
  </tbody>
</table>
</div>