<div class="menu">
  <%= link_to 'Members','/members#menubar', :class => "menu-link" %>
  <%= link_to 'Rules','/rules#menubar', :class => "menu-link" %>
  <%= link_to "Let's Play",'/intro#menubar', :class => "menu-link", :id => "selected" %>
  <% if user_signed_in? %>
    <%= link_to "#{@user.user_name}", destroy_user_session_path, method: :delete, :class => 'menu-link', data: { confirm: '你確定要登出嗎？' } %>
  <% else %>
    <%= link_to 'Login','/users/sign_in#menubar', :class => "menu-link" %>
  <% end %>
</div>
<div class="post">

  <h1><%= @post.title %></h1>
  <div id="game-desc">
    <%= image_tag(@post.picture_url, width: '50%') if @post.picture.present? %>
  </div>
</div>
<div class="comment">
  <div class="game-btn"><%= link_to 'Next', "/posts/#{@post.id+1}#menubar" %><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowright.png"/></div>
  <div class="game">
  <% @comments.each do |comment| %>
    <div id="comment-title"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/user77.png"><%= comment.user.user_name %></div>
      <p><%= comment.body %></p>
  <% end %>

  <%= render 'comments/form' %>

</div>