<div class="comment">
  <div class="game-btn"><%= link_to 'Next', "/posts/#{@post.id+1}#menubar" %><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/arrowright.png"/></div>
  <div class="game">
  <% @comments.each do |comment| %>
    <div id="comment-title"><img src="https://dl.dropboxusercontent.com/u/44654998/gglab/user77.png"><%= comment.user.user_name %></div>
      <p><%= comment.body %></p>
  <% end %>

  <%= render 'comments/form' %>
  </div>
</div>
<div class="post">

  <h1><%= @post.title %></h1>
  <div id="game-desc">
    <%= image_tag(@post.picture_url, width: '50%') if @post.picture.present? %>
  </div>
</div>