<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <title>GLRG 100x101 | Let's find your gift!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="cover-box">
      <p id="title"><%= link_to 'GLRG', root_path %></p>
      <p id="sub-title">100 x 101</p>
      <p id="date">7/19</p>
      <p id="time">12:00-18:00</p>
      <a href="#menubar"><p id="desc">Let's find your <span class="gift">gift</span>!</p></a>
    </div>
  </div>

  <a name="menubar">

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <span class="lsf-icon" title="GLRG 100 x 101"></span>
  </div>
</body>
</html>
