<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <title>GLRG 100x101 | Let's find your gift!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="clearfix">
    <div class="navbar">
      <div class="cover-box">
        <p id="title"><%= link_to 'GLRG', root_path %></p>
        <p id="sub-title">100 x 101</p>
        <p id="date">7/19</p>
        <p id="time">12:00-18:00</p>
        <a href="#menubar"><p id="desc">Let's find your <span class="gift">gift</span>!</p></a>
      </div>
    </div>

    <%= render 'layouts/menu' %>

    <div class="content">

      <% if notice %>
        <p class="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>

    <div class="footer">
      <span>GLRG 100 x 101</span>
    </div>
  </div>
  <script>
    var menubarYOffset = $('#menubar').offset().top;
    $(window).scroll(function(){
      if(window.scrollY > menubarYOffset){
        $('.menu').css({'position': 'fixed',
                          'top': '0',
                          'background-color': 'rgba(0,0,0,0.8)',
                          'height': '89px'
                          });
        $('.menu').addClass('active-fixed');
        $('.content').css('padding-top', '75px');
      }else{
        $('.menu').css({'position': 'relative',
                          'top': '-90px',
                          'background-color': 'rgba(0,0,0,0)',
                          'height': '75px'
                          });
        $('.menu').removeClass('active-fixed');
        $('.content').css('padding-top', '0');
      }
    });
    $('a').click(function(){
      $('html, body').animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 700);
      return false;
    });
  </script>
</body>
</html>
